<a onclick="showInPopup('@Url.ActionLink("AddOfEdit","CVDEN",null,Context.Request.Scheme)',0)" class="btn btn-sm btn-success">
    <i class="icon-plus-sign bigger-120"></i>
    Thêm
</a>
<a onclick="showInPopup('@Url.ActionLink("ImportExcel","CVDEN",null,Context.Request.Scheme)',0)" class="btn btn-sm btn-success">
    <i class="fas fa-file-import bigger-120"></i>
    Import
</a>
<div hidden data-request-url="@Url.ActionLink("AddOfEdit","CVDEN")" id="request"></div>
<div hidden data-request-url="@Url.ActionLink("getById","CVDEN")" id="requestid"></div>
<div hidden data-request-url="@Url.ActionLink("AddInEditCategory","CVDEN")" id="requestCategory"></div>

<button id="delete" disabled data-request-url="@Url.ActionLink("DeleteRangeConfirmed","CVDEN")" class="btn btn-sm btn-danger">
    <i class="icon-trash bigger-120"></i>
    Xóa
</button>
<a asp-controller="CVDEN" asp-action="indexRestore" class="btn btn-sm btn-info">Thùng rác</a>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="cvden" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th class="center">
                            <input type="checkbox" id="selectAllCheckbox">
                        </th>
                        <th>SKH</th>
                        <th>NGÀY BAN HÀNH</th>
                        <th>NGÀY HẾT HIỆU LỰC</th>
                        <th>TRÍCH YẾU</th>
                        <th>LOẠI CÔNG VĂN</th>
                        <th>NGƯỜI KÝ</th>
                        <th>ĐỘ MẬT</th>
                        <th>ĐỘ KHẨN</th>
                        <th>LĨNH VỰC</th>
                        <th>Duyệt</th>
                        <th></th>

                    </tr>
                </thead>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /span -->
</div>
@section Scripts {
    <script src="~/assets/js/jsMain/DanhMucHS/custom.js"></script>
}